In [1]:
import re
import pandas as pd
from sqlalchemy import create_engine
import urllib

def load_file(filepath, columns):
    """Load specific columns from a CSV file."""
    return pd.read_csv(filepath, usecols=columns)

def validate_data(df, validation_rules):
    """Apply regex patterns or custom functions to validate data in dataframe columns."""
    for column, rule in validation_rules.items():
        if isinstance(rule, str):  # Regex pattern
            df[f'corrected_format_{column}'] = df[column].apply(
                lambda x: None if pd.isna(x) else (True if re.match(rule, str(x)) else False)
            )
        elif callable(rule):  # Function to handle complex validations
            df[f'corrected_format_{column}'] = df[column].apply(
                lambda x: None if pd.isna(x) else rule(x)
            )
    return df

def non_negative(value):
    """Return True if value is non-negative, else False."""
    try:
        return float(value) >= 0
    except ValueError:
        return False

def validate_date(value):
    """Validates date strings against the expected format 'Mon-YYYY', returning True if valid."""
    try:
        pd.to_datetime(value, format='%b-%Y')
        return True
    except ValueError:
        return False

# Updated summary function as described above
def compute_summary(df, column):
    """Print detailed summary for validation results of a specific column."""
    total_rows = df.shape[0]
    num_na = df[df[f'corrected_format_{column}'].isna()].shape[0]
    num_not_na = total_rows - num_na
    num_correct = df[(df[f'corrected_format_{column}'] == True) & (df[column].notna())].shape[0]
    num_incorrect = df[(df[f'corrected_format_{column}'] == False) & (df[column].notna())].shape[0]

    print(f'Total rows: {total_rows}')
    print(f'Number of rows with {column} is NULL: {num_na}')
    print(f'Number of rows with {column} is not NULL: {num_not_na}')
    print(f'Number of rows with correct {column} format and not null: {num_correct}')
    if num_not_na > 0:  # Prevent division by zero
        print(f'Percentage of rows with correct {column} format and not null: {num_correct / num_not_na * 100:.4f}%')
    else:
        print("No non-null data available to calculate percentage of correct format.")
    print(f'Number of rows with incorrect {column} format and not null: {num_incorrect}')
    if num_not_na > 0:  # Prevent division by zero
        print(f'Percentage of rows with incorrect {column} format and not null: {num_incorrect / num_not_na * 100:.4f}%')
    else:
        print("No non-null data available to calculate percentage of incorrect format.")
    print("-----------------------------------------------------------------------------------")

def save_to_sql(df, engine, table_name):
    # engine = create_engine(url)
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)

# Define your validation rules here
validation_rules = {
    'application_type': r'^(Individual|Joint App)$',
    'annual_inc': non_negative,
    'annual_inc_joint': r'^\d+(\.\d+)?$',
    'dti': lambda x: None if pd.isna(x) else (False if float(x) < 0 else True),
    'emp_length': r'^(< 1 year|1 year|2 years|3 years|4 years|5 years|6 years|7 years|8 years|9 years|10\+ years)$',
    'issue_d': validate_date,
    'int_rate': r'^\d+\.\d{2}%$',
    'home_ownership': r'^(ANY|MORTGAGE|NONE|OWN|RENT)$',
    'loan_status': r'^(Charged Off|Current|Default|Fully Paid|In Grace Period|Late \(16-30 days\)|Late \(31-120 days\))$',
    'loan_amnt': lambda x: None if pd.isna(x) else (False if not 1000 <= float(x) <= 40000 else True),
    'funded_amnt': lambda x: None if pd.isna(x) else (False if not 1000 <= float(x) <= 40000 else True),
    'installment': r'^\d+\.\d{2}$'
}

# Implement in main script
if __name__ == "__main__":
    filepath = 'LoanStats_web.csv'
    columns = list(validation_rules.keys())
    df = load_file(filepath, columns)
    df = validate_data(df, validation_rules)
    for column in validation_rules.keys():
        compute_summary(df, column)

    
    # Save to sql
    server = '34.125.58.101'
    database = 'TestDB'
    username = 'SA'
    password = 'Passw0rd123456'
    table_name = "loan_accuracy"
    
    # ตั้งค่าการเชื่อมต่อกับ MSSQL โดยใช้ข้อมูลที่เหมาะสมกับสภาพแวดล้อมของคุณ
    params = urllib.parse.quote_plus("DRIVER={ODBC Driver 17 for SQL Server};SERVER=server;DATABASE=database;UID=username;PWD=password")
    ##### engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")
    # Using pymssql
    engine = create_engine(f'mssql+pymssql://{username}:{password}@{server}/{database}')
    
    save_to_sql(df, engine, table_name)

Total rows: 1432466
Number of rows with application_type is NULL: 26
Number of rows with application_type is not NULL: 1432440
Number of rows with correct application_type format and not null: 1432440
Percentage of rows with correct application_type format and not null: 100.0000%
Number of rows with incorrect application_type format and not null: 0
Percentage of rows with incorrect application_type format and not null: 0.0000%
-----------------------------------------------------------------------------------
Total rows: 1432466
Number of rows with annual_inc is NULL: 26
Number of rows with annual_inc is not NULL: 1432440
Number of rows with correct annual_inc format and not null: 1432440
Percentage of rows with correct annual_inc format and not null: 100.0000%
Number of rows with incorrect annual_inc format and not null: 0
Percentage of rows with incorrect annual_inc format and not null: 0.0000%
-----------------------------------------------------------------------------------
Total rows: 1432466
Number of rows with annual_inc_joint is NULL: 1320383
Number of rows with annual_inc_joint is not NULL: 112083
Number of rows with correct annual_inc_joint format and not null: 112083
Percentage of rows with correct annual_inc_joint format and not null: 100.0000%
Number of rows with incorrect annual_inc_joint format and not null: 0
Percentage of rows with incorrect annual_inc_joint format and not null: 0.0000%
-----------------------------------------------------------------------------------
Total rows: 1432466
Number of rows with dti is NULL: 1610
Number of rows with dti is not NULL: 1430856
Number of rows with correct dti format and not null: 1430851
Percentage of rows with correct dti format and not null: 99.9997%
Number of rows with incorrect dti format and not null: 5
Percentage of rows with incorrect dti format and not null: 0.0003%
-----------------------------------------------------------------------------------
Total rows: 1432466
Number of rows with emp_length is NULL: 108496
Number of rows with emp_length is not NULL: 1323970
Number of rows with correct emp_length format and not null: 1323970
Percentage of rows with correct emp_length format and not null: 100.0000%
Number of rows with incorrect emp_length format and not null: 0
Percentage of rows with incorrect emp_length format and not null: 0.0000%
-----------------------------------------------------------------------------------
Total rows: 1432466
Number of rows with issue_d is NULL: 26
Number of rows with issue_d is not NULL: 1432440
Number of rows with correct issue_d format and not null: 1432440
Percentage of rows with correct issue_d format and not null: 100.0000%
Number of rows with incorrect issue_d format and not null: 0
Percentage of rows with incorrect issue_d format and not null: 0.0000%
-----------------------------------------------------------------------------------
Total rows: 1432466
Number of rows with int_rate is NULL: 26
Number of rows with int_rate is not NULL: 1432440
Number of rows with correct int_rate format and not null: 0
Percentage of rows with correct int_rate format and not null: 0.0000%
Number of rows with incorrect int_rate format and not null: 1432440
Percentage of rows with incorrect int_rate format and not null: 100.0000%
-----------------------------------------------------------------------------------
Total rows: 1432466
Number of rows with home_ownership is NULL: 26
Number of rows with home_ownership is not NULL: 1432440
Number of rows with correct home_ownership format and not null: 1432440
Percentage of rows with correct home_ownership format and not null: 100.0000%
Number of rows with incorrect home_ownership format and not null: 0
Percentage of rows with incorrect home_ownership format and not null: 0.0000%
-----------------------------------------------------------------------------------
Total rows: 1432466
Number of rows with loan_status is NULL: 26
Number of rows with loan_status is not NULL: 1432440
Number of rows with correct loan_status format and not null: 1432440
Percentage of rows with correct loan_status format and not null: 100.0000%
Number of rows with incorrect loan_status format and not null: 0
Percentage of rows with incorrect loan_status format and not null: 0.0000%
-----------------------------------------------------------------------------------
Total rows: 1432466
Number of rows with loan_amnt is NULL: 26
Number of rows with loan_amnt is not NULL: 1432440
Number of rows with correct loan_amnt format and not null: 1432440
Percentage of rows with correct loan_amnt format and not null: 100.0000%
Number of rows with incorrect loan_amnt format and not null: 0
Percentage of rows with incorrect loan_amnt format and not null: 0.0000%
-----------------------------------------------------------------------------------
Total rows: 1432466
Number of rows with funded_amnt is NULL: 26
Number of rows with funded_amnt is not NULL: 1432440
Number of rows with correct funded_amnt format and not null: 1432440
Percentage of rows with correct funded_amnt format and not null: 100.0000%
Number of rows with incorrect funded_amnt format and not null: 0
Percentage of rows with incorrect funded_amnt format and not null: 0.0000%
-----------------------------------------------------------------------------------
Total rows: 1432466
Number of rows with installment is NULL: 26
Number of rows with installment is not NULL: 1432440
Number of rows with correct installment format and not null: 1291441
Percentage of rows with correct installment format and not null: 90.1567%
Number of rows with incorrect installment format and not null: 140999
Percentage of rows with incorrect installment format and not null: 9.8433%
-----------------------------------------------------------------------------------

import pandas as pd
from sqlalchemy import create_engine

def load_file(filepath, columns):
    """Load specific columns from a CSV file."""
    return pd.read_csv(filepath, usecols=columns)

def validate_data(df, validation_rules):
    """Apply regex patterns from a dictionary to validate data in dataframe columns, excluding NULL values."""
    for column, pattern in validation_rules.items():
        # Convert data to string and check against regex, skip NULL values
        df[f'incorrected_format_{column}'] = df[column].apply(
            lambda x: 'N/A' if pd.isna(x) else ('TRUE' if not pd.Series([str(x)]).str.match(pattern).any() else 'FALSE')
        )
    return df



def compute_summary(df, column):
    """Print summary of validation results for a specific column."""
    num_invalid = df[df[f'incorrected_format_{column}'] == 'TRUE'].shape[0]
    num_na = df[df[f'incorrected_format_{column}'] == 'N/A'].shape[0]
    total_rows = df.shape[0]
    print(f'Percentage of rows with incorrect {column} format: {(num_invalid / total_rows) * 100:.2f}%')
    print(f'Number of rows with incorrect {column} format: {num_invalid}')
    print(f'Number of rows with {column} is NULL: {num_na}')

def save_to_sql(df, engine, table_name):
    """Save DataFrame to SQL table."""
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)

if __name__ == "__main__":
    filepath = 'LoanStats_web.csv'
    columns = ['loan_amnt', 'term']
    df = load_file(filepath, columns)

    validation_rules = {
        'loan_amnt': r'^[0-9]{1,4}$',  # Adjust the regex according to your needs
        'term': r'^(36 months|60 months)$'
    }

    df = validate_data(df, validation_rules)
    for column in validation_rules.keys():
        compute_summary(df, column)

    server = '34.125.58.101'
    database = 'TestDB'
    username = 'SA'
    password = 'Passw0rd123456'
    table_name = "loan_accuracy"

    engine = create_engine(f'mssql+pymssql://{username}:{password}@{server}/{database}')
    #save_to_sql(df, engine, table_name)

In [2]:
dev_df = pd.read_csv(filepath)[['application_type', 'annual_inc', 'annual_inc_joint', 'dti', 'dti_joint', 'emp_length'\
 ,'issue_d','int_rate','home_ownership','loan_status','loan_amnt', 'funded_amnt','installment']]

/var/folders/77/kb3ytnf93qd_ccggvdrcr2dw0000gn/T/ipykernel_47357/89215481.py:1: DtypeWarning: Columns (0,19,55,112,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  dev_df = pd.read_csv(filepath)[['application_type', 'annual_inc', 'annual_inc_joint', 'dti', 'dti_joint', 'emp_length'\

In [3]:
dev_df.describe(include='all')

,application_type,annual_inc,annual_inc_joint,dti,dti_joint,emp_length,issue_d,int_rate,home_ownership,loan_status,loan_amnt,funded_amnt,installment
count,1432440,1.432440e+06,1.120830e+05,1.430856e+06,112081.000000,1323970,1432440,1432440,1432440,1432440,1.432440e+06,1.432440e+06,1.432440e+06
unique,2,NaN,NaN,NaN,NaN,11,30,258,5,7,NaN,NaN,NaN
top,Individual,NaN,NaN,NaN,NaN,10+ years,Mar-2017,11.49%,MORTGAGE,Current,NaN,NaN,NaN
freq,1320357,NaN,NaN,NaN,NaN,478304,148724,49032,701646,702223,NaN,NaN,NaN
mean,NaN,8.103458e+04,1.268432e+05,1.921187e+01,19.088683,NaN,NaN,NaN,NaN,NaN,1.537039e+04,1.537037e+04,4.566891e+02
std,NaN,1.341834e+05,7.798226e+04,1.597277e+01,7.843541,NaN,NaN,NaN,NaN,NaN,9.646026e+03,9.646028e+03,2.817140e+02
min,NaN,0.000000e+00,5.693510e+03,-1.000000e+00,0.000000,NaN,NaN,NaN,NaN,NaN,1.000000e+03,1.000000e+03,1.940000e+01
25%,NaN,4.800000e+04,8.500000e+04,1.199000e+01,13.350000,NaN,NaN,NaN,NaN,NaN,8.000000e+03,8.000000e+03,2.502900e+02
50%,NaN,6.800000e+04,1.130000e+05,1.800000e+01,18.640000,NaN,NaN,NaN,NaN,NaN,1.300000e+04,1.300000e+04,3.800300e+02
75%,NaN,9.666700e+04,1.500000e+05,2.483000e+01,24.420000,NaN,NaN,NaN,NaN,NaN,2.000000e+04,2.000000e+04,6.145400e+02
max,NaN,6.100000e+07,7.874821e+06,9.990000e+02,69.490000,NaN,NaN,NaN,NaN,NaN,4.000000e+04,4.000000e+04,1.715420e+03

In [4]:
for n in dev_df.columns:
    print(dev_df[[n]].groupby(n).size())

application_type
Individual    1320357
Joint App      112083
dtype: int64
annual_inc
0.0           1553
1.0             39
3.0              1
8.0              1
10.0             2
              ...
9550000.0        1
9573072.0        1
9757200.0        1
9930475.0        1
61000000.0       4
Length: 56320, dtype: int64
annual_inc_joint
5693.51       1
9000.00       1
11000.00      1
12500.00      1
13470.00      1
             ..
2000000.00    1
4200000.00    1
5653500.00    1
6282000.00    1
7874821.00    1
Length: 14933, dtype: int64
dti
-1.00         5
 0.00      1195
 0.01        11
 0.02        20
 0.03        11
           ...
 962.12       1
 962.83       1
 994.40       1
 995.60       1
 999.00     114
Length: 10373, dtype: int64
dti_joint
0.00     14
0.03      1
0.11      3
0.12      1
0.13      1
         ..
55.52     1
61.28     4
61.90     4
63.66     1
69.49     1
Length: 4012, dtype: int64
emp_length
1 year        95926
10+ years    478304
2 years      130251
3 years      116802
4 years       86767
5 years       88686
6 years       62261
7 years       48965
8 years       51222
9 years       46393
< 1 year     118393
dtype: int64
issue_d
Apr-2016     36432
Apr-2018     42928
Aug-2016     36280
Aug-2018     46079
Dec-2016     36183
Dec-2018     40134
Feb-2016     39529
Feb-2017    111052
Feb-2018     32746
Feb-2019     35985
Jan-2016     32366
Jan-2017    127340
Jan-2018     36347
Jan-2019     43584
Jul-2016     34696
Jul-2018     43089
Jun-2016     33019
Jun-2018     41533
Mar-2016     61992
Mar-2017    148724
Mar-2018     38771
Mar-2019     36106
May-2016     28403
May-2018     46311
Nov-2016     34591
Nov-2018     41973
Oct-2016     32772
Oct-2018     46305
Sep-2016     28144
Sep-2018     39026
dtype: int64
int_rate
  5.31%     8613
  5.32%    36953
  6.00%      493
  6.07%     5019
  6.08%     2968
           ...
 30.79%     1223
 30.84%      676
 30.89%      484
 30.94%      324
 30.99%      464
Length: 258, dtype: int64
home_ownership
ANY           2940
MORTGAGE    701646
NONE             5
OWN         170888
RENT        556961
dtype: int64
loan_status
Charged Off           147348
Current               702223
Default                   27
Fully Paid            551955
In Grace Period         7928
Late (16-30 days)       4207
Late (31-120 days)     18752
dtype: int64
loan_amnt
1000.0      7049
1025.0        34
1050.0        24
1075.0        12
1100.0       189
           ...
39900.0       29
39925.0       19
39950.0        9
39975.0       11
40000.0    35101
Length: 1561, dtype: int64
funded_amnt
1000.0      7049
1025.0        34
1050.0        24
1075.0        12
1100.0       189
           ...
39900.0       29
39925.0       19
39950.0        9
39975.0       11
40000.0    35101
Length: 1561, dtype: int64
installment
19.40       1
29.76       1
30.12      73
30.46      18
30.48      10
           ..
1638.81     2
1670.15     1
1674.06     1
1676.23     3
1715.42     4
Length: 69048, dtype: int64

In [5]:
dev_df.columns

Index(['application_type', 'annual_inc', 'annual_inc_joint', 'dti',
       'dti_joint', 'emp_length', 'issue_d', 'int_rate', 'home_ownership',
       'loan_status', 'loan_amnt', 'funded_amnt', 'installment'],
      dtype='object')

In [6]:
for n in dev_df.columns:
    print(n)

application_type
annual_inc
annual_inc_joint
dti
dti_joint
emp_length
issue_d
int_rate
home_ownership
loan_status
loan_amnt
funded_amnt
installment

In [7]:
dev_df[['application_type']].groupby('application_type').size()

application_type
Individual    1320357
Joint App      112083
dtype: int64